﻿/* v1.2018.10.18.1 */

@font-face {
    font-family: 'CSChatThaiUI';
    src: url('fonts/csChatThai/CSChatThaiUI.ttf');
}

@font-face {
    font-family: 'ChatThaiUI';
    src: url('fonts/csChatThai/CSChatThaiUI.eot');
    src: url('fonts/csChatThai/SChatThaiUI.eot?#iefix') format('embedded-opentype'), url('fonts/csChatThai/CSChatThaiUI.woff2') format('woff2'), url('fonts/csChatThai/CSChatThaiUI.woff') format('woff'), url('fonts/csChatThai/CSChatThaiUI.ttf') format('truetype'), url('fonts/csChatThai/CSChatThaiUI.svg#CSChatThaiUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ChatThaiUI' !important;
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 10px;
}

.hoverComponent {
    border: 1px solid #ddd !important;
    background-color: rgba(3, 14, 27, 0.03);
}

.shadow {
    margin-top: 20px;
}

#navbar_brand_eMENSCR_logo_navbar {
    margin-left: 0px;
}

.shadow-top {
    border: #ddd solid 1px;
    margin: 20px;
    background-color: #ffffff;
    padding: 10px;
}

.brdbot {
    border-color: #f5f5f5;
    border-bottom: 1px solid #ddd !important;
}

label {
    font-weight: normal;
    word-wrap: break-word;
}

.form-horizontal .control-label-left {
    text-align: left;
}

span.req {
    display: inline;
    float: none;
    color: red !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

span.thead {
    display: inline;
    float: none;
    color: #343a40 !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.bs-callout-progress-brdbot h4 {
    color: #006699 !important;
}

.bs-callout-progress-target h4 {
    margin-left: 15px;
    padding-bottom: 10px;
    color: #006699 !important;
}

.bs-callout-progress-kpi h5 {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.form-group {
    margin: 10px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

span.error {
    color: red;
}

span.error>ul {
    list-style-type: none;
    padding: 0px;
}

.k-autocomplete,
.k-combobox,
.k-datepicker,
.k-timepicker,
.k-datetimepicker,
.k-colorpicker,
.k-numerictextbox,
.k-dropdown,
.k-selectbox,
.k-textbox {
    width: 100%;
}

.k-header {
    background-color: transparent !important;
}

.k-widget {
    padding: 0px;
}

.check-margin30 {
    margin-left: 30px;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-login-icon-size {
    font-size: 87px !important;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 20px;
    background-color: #f5f5f5;
}

code {
    font-size: 80%;
}

.report_header {
    color: #12467c;
}