/* v1.2018.10.18.1 */

.table-wrapper-new {
    background: #fff;
    padding: 20px 0px;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

#btn_create_document {
    float: right;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    outline: none !important;
    margin-left: 0px;
    margin-top: 4px;
}

#btn_create_document:hover {
    color: #333;
    background: #f2f2f2;
}

.table-title-new h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.table-title-private {
    color: #fff;
    background: #006699;
    padding: 5px 0px;
    margin: -20px 0px 20px;
    border-radius: 3px 3px 0 0;
}

/********************************************************************/

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #337ab7;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn:hover,
.table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}

.btn_doc_remove {
    color: #fff !important;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.settings {
    color: #2196F3;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.dataTables_filter {
    display: none;
}

/*
.dataTables_info {
    display: none;
}
*/

.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}

.text-success {
    color: #10c469;
}

.text-info {
    color: #62c9e8;
}

.text-warning {
    color: #FFC107;
}

.text-danger {
    color: #ff5b5b;
}

.icon-danger {
    color: #CC0000;
}

.icon-danger:hover {
    color: #ff4444;
}

.icon-edit {
    color: #3E4551;
}

.icon-edit:hover {
    color: #757575;
}

.icon-progress {
    color: #ffbb33;
}

.icon-progress:hover {
    color: #FF8800;
}

.icon-progress-disable {
    color: #bdbdbd;
}

.icon-progress-disable:hover {
    color: #424242;
}

.icon-view {
    color: #1565c0;
}

.icon-view:hover {
    color: #4285F4;
}

.icon-blocks {
    padding: 5px 5px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a,
.pagination li.active a.page-link {
    background: #337ab7;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

.action-edit {
    color: #FFC107;
}

.action-remove {
    color: #F44336;
}

.text-center {
    text-align: center !important;
}

.dots {
    margin: 40px auto;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #EEE;
    height: 15px;
    width: 15px;
    margin: 0 2px;
}

.dot.dot-success {
    background-color: #449D44;
}

.dot.dot-warning {
    background-color: #F0AD4E;
}

.dot.dot-danger {
    background-color: #D9534F;
}

.dot.dot-disable {
    background-color: #616161;
}

.dot.dot-sm {
    height: 10px;
    width: 10px;
}

.dot.dot-lg {
    margin: 0 4px;
    height: 20px;
    width: 20px;
}

.text-color-header {
    color: #006699;
}