/* v1.2018.10.18.1 */

#tab1_part1_main_type_option_1,
#tab1_part1_main_type_option_2,
#tab1_part1_project_method_option_1,
#tab1_part1_project_method_option_2,
#tab1_part1_project_type_option_1,
#tab1_part1_project_type_option_2 {
    min-width: 250px;
    max-width: 250px;
}

.modal-dialog {
    width: 90%;
}

/******************* Tab1 Button selected groups *******************/

.tab1_part1_main_option_group .inActive {
    color: #333;
    background-color: #fff;
}

.tab1_part1_main_option_group .inActive span.glyphicon {
    opacity: 0;
}

.tab1_part1_project_type_option_group .inActive {
    color: #333;
    background-color: #fff;
}

.tab1_part1_project_type_option_group .inActive span.glyphicon {
    opacity: 0;
}

.tab1_part1_project_type_method_group .inActive {
    color: #333;
    background-color: #fff;
}

.tab1_part1_project_type_method_group .inActive span.glyphicon {
    opacity: 0;
}

/******************* Tab3 Area type selected groups *******************/

.tab1_part3_textbox_target_option_group .inActive {
    color: #333;
    background-color: #fff;
}

.tab1_part3_textbox_target_option_group .inActive span.glyphicon {
    opacity: 0;
}

.btn_target_padding_lr {
    padding-left: 4px;
    padding-right: 16px;
}

/******************* Tab3 Area type selected groups *******************/

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    /*
    font-size: 12px;
    */
}

.glyphicon-info {
    font-size: 15px;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.input-group-btn select {
    border-color: #ccc;
}

#tab5_part6_dtable_budget_planning td {
    vertical-align: middle !important;
}

.container-fluid .gantt_wrapper {
    height: 400px;
    width: 100%;
}

/******************* custab *******************/

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/******************* Google map *******************/

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 250px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}