/* v1.2018.10.18.1 */

[data-role="dynamic-fields-report-planreform"]>.form-group+.form-group {
    margin-top: 0.5em;
}

[data-role="dynamic-fields-report-planreform"]>.form-group [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields-report-planreform"]>.form-group:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields-report-planreform"]>.form-group:last-child [data-role="remove"] {
    display: none;
}