/* v1.2018.10.18.1 */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  /*
  max-width: 750px;
  */
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}

a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}


#custom-templates .empty-message {
  padding: 5px 10px;
  text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

/*Panel tabs*/

.panel-group .panel {
  margin-bottom: 20px;
}

.panel-tabs {
  position: relative;
  bottom: 30px;
  clear: both;
  border-bottom: 1px solid transparent;
}

.panel-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.panel-default>.panel-heading {
  padding-top: 10px;
  /*padding-bottom: 25px;*/
}

/*
  Strategies
*/

#nav_pills_tab_header_strategies,
#nav_pills_tab_header_progress_report_strategies {
  text-align: center;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #00658f;
  padding-top: 25px;
  padding-bottom: 25px;
}

#nav_pills_tab_header_strategies:hover,
#nav_pills_tab_header_progress_report_strategies:hover {
  text-align: center;
  text-decoration: none;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #00335a;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav_pills_tab_strategies_active {
  background-color: #00335a !important;
}

#nav_pills_tab_header_planreform>li>a,
#nav_pills_tab_header_level_2>li>a,
#nav_pills_tab_header_level_2_q4>li>a,
#nav_pills_tab_header_level_2_2562_q1>li>a,
#nav_pills_tab_header_level_2_2562_q2>li>a {
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #008091;
  padding-top: 12px;
  padding-bottom: 12px;
}

#nav_pills_tab_header_planreform>li>a:hover,
#nav_pills_tab_header_level_2>li>a:hover,
#nav_pills_tab_header_level_2_q4>li>a:hover,
#nav_pills_tab_header_level_2_2562_q1>li>a:hover,
#nav_pills_tab_header_level_2_2562_q2>li>a:hover {
  border-color: transparent;
  color: #ffffff;
  /*background-color: transparent;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px 4px 4px 4px;
  background-color: #00444C;
}

#nav_pills_tab_header_planreform>li.active>a:focus,
#nav_pills_tab_header_level_2>li.active>a:focus,
#nav_pills_tab_header_level_2_q4>li.active>a:focus,
#nav_pills_tab_header_level_2_2562_q1>li.active>a:focus,
#nav_pills_tab_header_level_2_2562_q2>li.active>a:focus {
  border-color: transparent;
  color: #fff;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px 4px 4px 4px;
  background-color: #00444C;
  border-bottom-color: transparent;
}

/*****************************************************/


.nav_pills_tab_header_progress_report_lavel_2 {
  text-align: center;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #008091;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav_pills_tab_header_progress_report_lavel_2:hover {
  text-align: center;
  text-decoration: none;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #00444C;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav_pills_tab_header_progress_report_lavel_2_active {
  background-color: #00444C !important;
}

/*****************************************************/

#nav_pills_tab_header_government_ministers {
  text-align: center;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #00a997;
  padding-top: 25px;
  padding-bottom: 25px;
}

#nav_pills_tab_header_government_ministers:hover {
  text-align: center;
  text-decoration: none;
  margin-right: 2px;
  margin-top: 5px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  color: #ffffff;
  background-color: #00665B;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav_pills_tab_government_active {
  background-color: #00665B !important;
}

.nav_pills_tab_active {
  background-color: #0088cc !important;
}

.nav_pills_tab_disable {
  background-color: #616161 !important;
}

.nav_pills_tab_disable:hover {
  background-color: #424242 !important;
}