/* v1.2018.10.18.1 */

.fa {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    opacity: 0.2;
    padding: 5px;
}

.fa:hover {
    opacity: 1;
}

.fa-pencil {
    color: #ffa011;
}

.fa-plus {
    color: #328EA0;
}

.fa-times {
    color: red;
}