.flex,
.flex>div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 0 auto;
}

.border-none-r {
  border-right-width: 0px;
}

.panel {
  width: 100%;
  /*height: 100%;*/
}

.row-margin-rl-15 {
  margin-right: -15px;
  margin-left: -15px;
}

.row-margin-top-5 {
  margin-top: 5px;
}

.row-margin-top-15 {
  margin-top: 15px;
}

.row-margin-bottom-20 {
  margin-bottom: 20px;
}

.row-padding-rl-no {
  padding-right: 0px;
  padding-left: 0px;
}

.row-padding-top-3 {
  padding-top: 3px;
}

.row-padding-top-5 {
  padding-top: 5px;
}

.row-padding-top-10 {
  padding-top: 10px;
}

.row-padding-bottom-5 {
  padding-bottom: 5px;
}

/* Color */

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.icon-danger {
  color: #CC0000;
}

.icon-danger:hover {
  color: #ff4444;
}

.icon-edit {
  color: #3E4551;
}

.icon-edit:hover {
  color: #757575;
}

.icon-progress {
  color: #ffbb33;
}

.icon-progress:hover {
  color: #FF8800;
}

.icon-progress-disable {
  color: #bdbdbd;
}

.icon-progress-disable:hover {
  color: #424242;
}

.icon-view {
  color: #1565c0;
}

.icon-view:hover {
  color: #4285F4;
}

.icon-blocks {
  padding: 5px 5px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

/* Table */
.xyz-table-th {
  text-align: center;
  background: #f9f9f9;
}

.table_td-center {
  text-align: center;
}

table#xyz_table_secondary th {
  text-align: center;
}

.wizard {
  /*
    margin: 20px auto;
    background: #fff;
    */
}

.wizard .nav-tabs {
  position: relative;
  /*
    margin: 40px auto;
    */
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard>div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #006699;

}

.wizard li.active span.round-tab i {
  color: #006699;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs>li {
  width: 20%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #006699;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #006699;
}

.wizard .nav-tabs>li a {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs>li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 5px;
}

/************************************************************/
/* The radio */
.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"]+.list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"]+.list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked+.list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked+.list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"]+.list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"]+.list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked+.list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked+.list-group-item:before {
  color: inherit;
}

/* List plan selected */